* {
    box-sizing: border-box;
}

body {
    background-color: rgb(146, 225, 234);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.topnav img {
    width: 40px;
}

.topnav {
    background-color: rgb(196, 195, 201);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.topnav a {
    color: black;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
}

.placement {
    display: grid;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.placement button {
    width: 80px;
    padding: 5px;
    margin: 5px;
}

.placement input {
    padding: 5px;
    margin: 5px;
}

.horizontal-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex: 1;
}

.candidate-image {
    background-color: black;
    height: 600px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.candidate-image img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    flex: 1;
}

.candidate-info {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;

}