* {
    box-sizing: border-box;
}

body {
    background-color: rgb(146, 225, 234);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 40px;
}

.topnav {
    background-color: rgb(196, 195, 201);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.topnav a {
    color: black;
    text-decoration: none;
}

.topnav a:hover {
    text-decoration: underline;
}

.placement {
    display: grid;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.placement button {
    width: 80px;
    padding: 5px;
    margin: 5px;
}

.placement input {
    padding: 5px;
    margin: 5px;
}